@font-face{
  font-family: WorkSansRegular;
  src: url(/fonts/static/WorkSans-Regular.ttf);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  width: 100%;
  height: 100%;
}
.main{
  background: hsl(275, 100%, 97%);
  position: relative;
}
.main .back{
  width: 100%;
  height: 98vh;
  z-index: -10;
}
.main .back img{
  width: 100%;
  height: 35vh;
  object-fit: cover;
  object-position: center;
}
.main .box{
  width: 45vmax;
/*   height: 35vw; */
  background-color: #FFF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  box-shadow: 3px 3px 15px rgba(0 , 0, 0, .1);
  padding: 3vmax;
}
.main .box .logo{
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  gap: 1vw;
  /* background-color: #eee; */
}
.main .box .logo img{
  width: 2.5vw;
  height: 2.5vw;
}
.main .box .logo h1{
  color: hsl(292, 42%, 14%);
  font-family: WorkSansRegular;
  font-size: 3vw;
  font-weight: 800;
}
.main .box .text{
  color: hsl(292, 42%, 14%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1.5vw 0;
  font-weight: 400;
  font-size: 1.2vw;
  font-family: WorkSansRegular;
}
.main .box .text h3:hover{
  color: #AD28EB;
}
.main .box .text2 p{
  color: hsl(292, 16%, 49%);
  margin: 2vw 0;
  font-size: 2vmin;
  font-weight: 400;
  line-height: 1.8vmax;
  font-family: WorkSansRegular;
}
.main .box ul{
  list-style: none;
  /* background: #eee; */
}
.main .box ul .ans{
  width: 100%;
  font-size: 1.5vmax;
  display: none;
}
.main .box ul li{
  margin: 1.2vmax 0;
}
.main .box ul li button{
  width: 100%;
  background: none;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: start;
  font-weight: 600;
  font-size: 1.5vmax;
  font-family: WorkSansRegular;
  line-height: 2vmax;
}



 /* Desktop  */
 
 
@media (max-width:1440px) {
    .main .box{
    width: 55vw;
    /* height: 35vw; */
    padding: 2vmax;
  }
}
@media (max-width:1024px) {
    .main .box{
    width: 55vw;
    /* height: 40vw; */
    padding: 2vmax;
  }
    .main .box .text2 p{
    font-size: 1.8vw;
    line-height: 2vw;
  }
    .main .box ul li{
    padding: .7vw 0;
  }
   
   .main .box .text{
    margin: 1vw 0;
    font-weight: 400;
    font-size: 1.5vw;
  }
   
}

/* Tablet screen */

@media (max-width:1023px){
  .main .box{
    width: 65vw;
    /* height: 60vh; */
  }
  .main .box .logo img{
    width: 4vmax;
    height: 4vmax;
  }
  .main .box .logo h1{
    font-size: 3.5vmax;
  }
  .main .box .text{
    font-weight: 400;
    font-size: 3vw;
  }
    .main .box .text2 p{
    font-size: 2.4vmin;
    font-weight: 400;
    line-height: 2vmax;
  }
   .main .box ul{
    margin-top: 6vh;
  }
  .main .box ul li{
    padding: 2vw 0;
  }
  .main .box ul li a{
    font-size: 2.5vw;
  }

}

/* Mobile screen */

@media (max-width:767px){
  .main .box{
    width: 40vmax;
    /* height: 70vmax; */
  }
  .main .box .logo{
    align-items: center;
    gap: 3vh;
  }
  .main .box .logo img{
    width: 5vmax;
    height: 5vmax;
  }
  .main .box .logo h1{
    font-size: 5vmax;
    font-weight: 800;
  }
  .main .box .text{
    color: hsl(292, 42%, 14%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1.5vw 0;
    font-weight: 400;
    font-size: 3.2vw;
  }
    .main .box .text2 p{
    width: 90%;
    color: hsl(292, 16%, 49%);
    margin: 2vh 0;
    font-size: 3vmin;
    font-weight: 400;
    line-height: 3vmax;
  }
  .main .box ul li{
    border-bottom: 1px solid #dadada;
    padding: 3vw 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .main .box ul li a{
    text-decoration: none;
    font-weight: 600;
    font-size: 4vw;
    color: #000;
  }
  
}
@media (max-width:412px){
  .main .box{
    width: 40vmax;
    /* height: 60vmax; */
  }
 
}
@media (max-width:375px){
  .main .box{
    width: 40vmax;
    /* height: 70vmax; */
  }
 
}

.attribution { 
   background: hsl(275, 100%, 97%);
   font-size: 1vh;
   text-align: center; 
   padding-bottom: 1vh;
   }
   
.attribution a { 
   color: hsl(228, 45%, 44%);
   }